<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<nav>
    <h4>Company Employee Database</h4>
    <div class="nav-links">
        <a href = "http://localhost:2000">Add New Employee</a>
        <a href = "http://localhost:2000/show">Show Employees</a>
    </div>
</nav>
<body>
    <h1 class = "employeeedit">Employees</h1>
    <form class = "search" action = '/searchdb' method = "GET">
        <label>Search</label>
        <!-- <select id="searchfield" name="searchfield">
            <option value="name">Name</option>
            <option value="email">Email</option>
            <option value="gender">Gender</option>
            <option value="department">Department</option>
            <option value="salary">Salary</option>
          </select> -->
        <input type = "text" id = "entersearch" placeholder = "Employee Name">
        <button class = "searchbutton">Search</button>
    </form>
    <div class = "employeeinfo">
        <h2 id = "searcherr"></h2>
    <ul>
    <% if(item) { %>
        <div>
            <li><%= item.name %> </li> 
            <li><%= item.email %> </li> 
            <li><%= item.gender %> </li> 
            <li><%= item.department %></li> 
            <li>$<%= item.salary %>/yr</li> 
            </div>
    <% } else if(item != ''){ %>
        <div class="alert">Employee does not exist within this database</div>
    <% }%>
    </div>
    </ul>
    </div>
</body>
</html>